p,
design-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #aaaaaa;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #1a1a1a;
}

.header {
  width: 1280px;
  height: 139px;
  margin: 0 auto;
}

.header__top {
  background: #f4f4f4;
}

.container {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
}

.header__bottom-inner {
  height: 99px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e0e0e0;
}

span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header__top-span {
  height: 33px;
  left: 0%;
  right: 0%;
  top: -10px;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-left: 25px;
}

.header__bottom-span {
  height: 15px;
  left: 65.34%;
  right: 15.06%;
  top: 43px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  margin: 43px 110px;
}

span:nth-child(3) {
  margin-right: 25px;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 120px;
}

section {
  height: 100vh;
  margin: 0 auto;
}

.design-room__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 210px;
}

.design-photo {
  height: 746px;
  top: 188px;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 50px;
  margin-bottom: 80px;
  background-image: url("images/meeting-rooms.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.design_main-text {
  width: 355px;
}

.design-text {
  width: 570px;
  height: 160px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #aaaaaa;
}

.design-brand__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 40px;
  color: #aaaaaa;
  text-align: center;
  display: block;
  margin-top: 27px;
}

.design-room__galery {
  column-count: 2;
  column-gap: 24px;
  width: 1200px;
  margin: 0 30px;
}

.design-room__galery-item {
  margin-bottom: 32px;
  width: 588px;
}

.galery-item {
  margin-bottom: 10px;
  width: 588px;
  margin-right: 0;
}

.design {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
}

.design-brand__heading {
  text-align: center;
  margin-top: 244px;
}

.design-brand__text {
  margin-bottom: 125px;
}

.brand {
  column-count: 6;
  column-gap: 50px;
  margin-bottom: 240px;
}

.brand__item {
  margin-bottom: 50px;
  text-align: center;
}

.slider {
  width: 1077px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
  margin-left: 175px;
  margin-right: 188px;
}

.slider-heading {
  margin: 0;
  margin-bottom: 24px;
}

.get-in-touch {
  color: #46856e;
}

.simple {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 175px;
  align-items: center;
}

.simple__text {
  width: 316px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #aaaaaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.simple__item {
  margin-right: 50px;
}

/* .simple__img {
  margin-left: 60px;
} */

body
  > div.container
  > section.design-room
  > div.simple
  > div:nth-child(3)
  > img {
  margin-left: 60px;
}

.read-more__image {
  margin-top: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.read-more-reviews-image {
  position: relative;
  width: 100%;
}

.read-more-reviews {
  position: absolute;
  top: 120px;
  left: 185px;
}

p.more__reviews {
  width: 265px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 8px;
}

p.more__reviews:before {
  content: "";
}

/* READ MORE REVIEWS - надо добавить
a.read-more-reviews {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  flex-direction: column;
} */

body
  > div.container
  > section.design-room
  > div.read-more-reviews
  > div
  > span:nth-child(6) {
  margin-bottom: 76px;
}

span.more__reviews {
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
}
